---
import { getCollection } from "astro:content";
import { groupBy } from "../../lib/utils";
import BaseLayout from "../../components/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import Image from "../../components/Image.astro";

interface Props {
  posts: CollectionEntry<"blogs">[];
}

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  const group = groupBy(blogs)(({ data }) => data.tags);
  const tags = Object.keys(group);

  return tags.map((tag) => ({
    params: { tag },
    props: { posts: group[tag] },
  }));
}

const {
  params: { tag },
  props: { posts },
} = Astro;
---

<BaseLayout>
  <div slot="main">
    <h1 class="text-5xl font-bold">Tag: {tag}</h1>
    <ul>
      {
        posts?.map((post) => (
          <li class="w-3/5 h-60">
            <Image
              image={post.data.coverImage}
              className="w-[100%] h-[100%] object-cover"
            />
            <div>
              <h4>{post.data.title}</h4>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
