---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";
import "../main.css";
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <ViewTransitions>
      <!-- <Favicon /> -->
      <slot name="meta" />
    </ViewTransitions>
  </head>
  <body class="text-[--text-body] relative">
    <slot name="header">
      <Header />
    </slot>
    <main class="max-w-6xl m-auto px-4 sm:px-10">
      <slot name="main" />
    </main>
    <style></style>
  </body>
</html>
