---
import HeaderLink from "./HeaderLink.astro";
import {
  ToggleLight,
  DEFAULT_HEIGHT,
  DEFAULT_WIDTH,
} from "@components/ui/icons/toggle-light";

const toggleHeight = 32;
const toggleWidth = (32 * DEFAULT_WIDTH) / DEFAULT_HEIGHT;
---

<header class="h-114 border-b-[--border] border-b-[1px]">
  <div class="px-6 flex items-center justify-between flex-1 w-[100%]">
    <div>
      <a class="unset text-[--text-heading] text-lg" href="/">재석짱 블로그</a>
    </div>
    <nav>
      <ul class="my-4">
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/projects">Projects</HeaderLink></li>
        <!-- <li>
          <ToggleLight
            title="lightmode-toggle"
            width={`${toggleWidth}px`}
            height={`${toggleHeight}px`}
          />
        </li> -->
      </ul>
    </nav>
  </div>
</header>

<style>
  nav {
    display: flex;
    gap: 0.5rem;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
  }

  nav ul > li {
    padding: 0;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skip-to-main {
    border: none !important;
    position: absolute;
    left: 50%;
    top: -100rem;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    z-index: 10;
  }

  .skip-to-main:focus {
    top: initial;
  }
</style>
