@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-heading: theme("colors.gray.900");
  --text-body: theme("colors.gray.700");

  --border: theme("colors.gray.200");

  --link: theme("colors.indigo.500");

  --inline-code-bg: #F2F2F2;
  --inline-code-text: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
}

a:not(.unset) {
  text-decoration: none;
  border-bottom: 1px solid var(--link);
}

a:not(.unset):hover {
  border-bottom-width: 2px;
}
