---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/
// Import the global.css file here so that it is included on
import "../styles/global.css";
import "../styles/markdown.css";

import PageLayout from "./PageLayout.astro";

export interface Props {
  title: string;
  date: Date;
  coverImage?: string;
  description: string;
}

const { title, date, coverImage, description } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<PageLayout>
  <section class="blog-post" slot="main">
    <div class="relative max-w-2xl m-auto py-12">
      <div class="mb-12">
        <h1 class="mb-0">{title}</h1>
        <time class="publish-date">{formattedDate}</time>
      </div>
      <img
        width="100%"
        src={`/images/${coverImage}`}
        class="max-w-[100%] aspect-video mb-12 object-contain"
        alt={`${title}-cover-image`}
      />
      <slot name="content" />
    </div>
  </section>
</PageLayout>
